* {margin:0px; padding:0px;}
.insert { display: block; line-height: 24px; text-align: center; margin: 10px 0 ; float: right; background:#999; padding:2px 10px; text-decoration:none; }
#mce_popup > div {padding:5px 0px; }
#mce_popup form  div {padding:10px;}
label {width:400px; margin-right:10px; display:inline-block; margin-bottom:20px; cursor:pointer;}
p {margin-bottom:20px;}
.accordion h3 {font-size:13px; font-weight:bold !important; margin-top:10px !important;}
.updateButton {text-align:center; text-decoration:none; margin-top:20px;}